pandas
streamlit==1.37.1
plotly
numpy
Pillow
openpyxl
matplotlib
scipy
xlwings
XlsxWriter
streamlit-authenticator==0.3.2
extra-streamlit-components==0.1.71
streamlit-image-comparison
statsmodels
scikit-learn
pytz